@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

* {
    font-family: Quicksand, sans-serif;
}

.ui.selection.active.dropdown .menu {
    opacity: 1;
    z-index: 20;
}

.daterangepicker input {
    padding: 8px 20px;
    background: white;
}

.daterangepicker label {
    line-height: 0.8rem;
    color: #ccc;
}
